---
apply_patches_db: true
db_homes_config:
  db1916-si-ee: &db1916-si-ee
    home: db1915-si-ee
    version: 19.3.0.0
    oracle_home: /u01/app/oracle/product/19/db1916-si-ee
    edition: EE
    opatch_minversion: 12.2.0.1.28
    opatch:
        # Remove Oracle Database 19c Important Recommended One-off Patches (Doc ID 555.1)
      - {patchid: 29213893, state: absent, excludeUPI: 1, stop_processes: true}
      - {patchid: 30978304, state: absent, excludeUPI: 1, stop_processes: true}
      # - {patchid: 31602782, state: absent, excludeUPI: 1, stop_processes: true}
      - {patchid: 33121934, state: absent, excludeUPI: 1, stop_processes: true}
      - {patchid: 32522300, state: absent, stop_processes: true}
      - {patchid: 31143146, state: absent, stop_processes: true}
      - {patchid: 32919937, state: absent, stop_processes: true}
      - {patchid: 33144001, state: absent, stop_processes: true}
        # New Patches
      - patchid: 34133642
        # Database Release Update 19.16.0.0.220719
        patchversion: 19.16.0.0.220719
        stop_processes: true
        state: present
        path: 19.16.0.0.220719/gi/34130714/34130714/34133642
      - patchid: 34160635
        # OCW Release Update 19.16.0.0.220719
        stop_processes: true
        state: present
        path: 19.16.0.0.220719/gi/34130714/34130714/34160635
      - patchid: 34086870
        # Oracle JavaVM Component Release Update (OJVM RU) 19.16.0.0.220719
        stop_processes: true
        state: present
        path: 19.16.0.0.220719/ojvm/p34086870_190000_Linux-x86-64.zip
        # Oracle Database 19c Important Recommended One-off Patches (Doc ID 555.1)

  db1915-si-ee: &db1915-si-ee
    home: db1915-si-ee
    version: 19.3.0.0
    oracle_home: /u01/app/oracle/product/19/db1915-si-ee
    edition: EE
    opatch_minversion: 12.2.0.1.28
    opatch:
        # Remove Oracle Database 19c Important Recommended One-off Patches (Doc ID 555.1)
      - {patchid: 29213893, state: absent, excludeUPI: 1, stop_processes: true}
      - {patchid: 30978304, state: absent, excludeUPI: 1, stop_processes: true}
      # - {patchid: 31602782, state: absent, excludeUPI: 1, stop_processes: true}
      - {patchid: 33121934, state: absent, excludeUPI: 1, stop_processes: true}
      - {patchid: 32522300, state: absent, stop_processes: true}
      - {patchid: 31143146, state: absent, stop_processes: true}
      - {patchid: 32919937, state: absent, stop_processes: true}
      - {patchid: 33144001, state: absent, stop_processes: true}
        # New Patches
      - patchid: 33806152
        # Database Release Update 19.15.0.0.220419
        patchversion: 19.15.0.0.220419
        stop_processes: true
        state: present
        path: 19.15.0.0.220419/gi/33803476/33803476/33806152
      - patchid: 33815596
        # OCW Release Update 19.15.0.0.220419
        stop_processes: true
        state: present
        path: 19.15.0.0.220419/gi/33803476/33803476/33815596
      - patchid: 33808367
        # Oracle JavaVM Component Release Update (OJVM RU) 19.15.0.0.220419
        stop_processes: true
        state: present
        path: 19.15.0.0.220419/ojvm/p33808367_190000_Linux-x86-64.zip
        # Oracle Database 19c Important Recommended One-off Patches (Doc ID 555.1)

  db1913-si-ee: &db1913-si-ee
    home: db1913-si-ee
    version: 19.3.0.0
    oracle_home: /u01/app/oracle/product/19/db1913-si-ee
    edition: EE
    opatch_minversion: 12.2.0.1.25
    opatch:
        # Remove Oracle Database 19c Important Recommended One-off Patches (Doc ID 555.1)
      - {patchid: 29213893, state: absent, excludeUPI: 24384541, stop_processes: true}
      - {patchid: 30978304, state: absent, excludeUPI: 24384338, stop_processes: true}
      # - {patchid: 31602782, state: absent, excludeUPI: 24384398, stop_processes: true}
      - {patchid: 33121934, state: absent, excludeUPI: 24407586, stop_processes: true}
      - {patchid: 32522300, state: absent, stop_processes: true}
      - {patchid: 31143146, state: absent, stop_processes: true}
      - {patchid: 32919937, state: absent, stop_processes: true}
      - {patchid: 33144001, state: absent, stop_processes: true}
        # New Patches
      - patchid: 33192793
        # Database Release Update 19.13.0.0.211019
        patchversion: 19.13.0.0.211019
        stop_processes: true
        state: present
        path: 19.13.0.0.211019/gi/33182768/33182768/33192793
      - patchid: 33208123
        # OCW Release Update 19.13.0.0.211019
        stop_processes: true
        state: present
        path: 19.13.0.0.211019/gi/33182768/33182768/33208123
      - patchid: 32876380
        # Oracle JavaVM Component Release Update (OJVM RU) 19.13.0.0.211019
        stop_processes: true
        state: present
        path: 19.13.0.0.211019/ojvm/p33192694_190000_Linux-x86-64.zip
        # Oracle Database 19c Important Recommended One-off Patches (Doc ID 555.1)
      - {patchid: 29213893, path: 19.13.0.0.211019/p29213893_1913000DBRU_Generic.zip, state: present, stop_processes: true}
      - {patchid: 30978304, path: 19.13.0.0.211019/p30978304_1913000DBRU_Generic.zip, state: present, stop_processes: true}
        # Contention on "CURSOR: PIN S WAIT ON X" when PQ slave's execution plan does not match with QC
        # conflicts with 33121934 ...
      # - {patchid: 31602782, path: 19.13.0.0.211019/p31602782_1913000DBRU_Linux-x86-64.zip, state: present, stop_processes: true}
        # Library cache lock / load lock / mutex x during connection storm
      - {patchid: 33121934, path: 19.13.0.0.211019/p33121934_1913000DBRU_Linux-x86-64.zip, state: present, stop_processes: true}

  db1912-si-ee: &db1912-si-ee
    home: db1912-si-ee
    version: 19.3.0.0
    oracle_home: /u01/app/oracle/product/19/db1912-si-ee
    edition: EE
    opatch_minversion: 12.2.0.1.25
    opatch:
        # Remove Oracle Database 19c Important Recommended One-off Patches (Doc ID 555.1)
      - {patchid: 32522300, state: absent, stop_processes: true}
      - {patchid: 31143146, state: absent, stop_processes: true}
      - {patchid: 31602782, state: absent, excludeUPI: 24359090, stop_processes: true}
      - {patchid: 32919937, state: absent, excludeUPI: 24372674, stop_processes: true}
      - {patchid: 33144001, state: absent, excludeUPI: 24351857, stop_processes: true}
        # New Patches
      - patchid: 32904851
        # Database Release Update 19.12.0.0.210720
        patchversion: 19.12.0.0.210720
        stop_processes: true
        state: present
        path: 19.12.0.0.210720/gi/32895426/32904851
      - patchid: 32916816
        # OCW Release Update 19.12.0.0.210720
        stop_processes: true
        state: present
        path: 19.12.0.0.210720/gi/32895426/32916816
      - patchid: 32876380
        # Oracle JavaVM Component Release Update (OJVM RU) 19.12.0.0.210720
        stop_processes: true
        state: present
        path: 19.12.0.0.210720/ojvm/p32876380_190000_Linux-x86-64.zip
        # Oracle Database 19c Important Recommended One-off Patches (Doc ID 555.1)
      - {patchid: 31602782, path: 19.12.0.0.210720/p31602782_1912000DBRU_Linux-x86-64.zip, state: present, stop_processes: true}
      - {patchid: 32919937, path: 19.12.0.0.210720/p32919937_1912000DBRU_Linux-x86-64.zip, state: present, stop_processes: true}
      - {patchid: 33144001, path: 19.12.0.0.210720/p33144001_1912000DBRU_Linux-x86-64.zip, state: present, stop_processes: true}

  db1911-si-ee: &db1911-si-ee
    home: db1911-si-ee
    version: 19.3.0.0
    oracle_home: /u01/app/oracle/product/19/db1911-si-ee
    edition: EE
    opatch_minversion: 12.2.0.1.24
    opatch:
      - patchid: 32545013
        # Database Release Update 19.11.0.0.210420
        patchversion: 19.11.0.0.210420
        stop_processes: true
        state: present
        path: 19.11.0.0.210420/gi/32545008/32545013
      - patchid: 32579761
        # OCW Release Update 19.11.0.0.210420
        stop_processes: true
        state: present
        path: 19.11.0.0.210420/gi/32545008/32579761
      - patchid: 32399816
        # Oracle JavaVM Component Release Update (OJVM RU) 19.7.0.0.200414
        stop_processes: true
        state: present
        path: 19.11.0.0.210420/ojvm/p32399816_190000_Linux-x86-64.zip
        # Oracle Database 19c Important Recommended One-off Patches (Doc ID 555.1)
      - {patchid: 32522300, path: 19.11.0.0.210420/p32522300_1911000DBRU_Linux-x86-64.zip, state: present, stop_processes: true}
      - {patchid: 31143146, path: 19.11.0.0.210420/p31143146_1911000DBRU_Linux-x86-64.zip, state: present, stop_processes: true}
      - {patchid: 31602782, path: 19.11.0.0.210420/p31602782_1911000DBRU_Linux-x86-64.zip, state: present, stop_processes: true}
      - {patchid: 32919937, path: 19.11.0.0.210420/p32919937_1911000DBRU_Linux-x86-64.zip, state: present, stop_processes: true}

  db1814-si-ee: &db1814-si-ee
    home: db1814-si-ee
    version: 18.3.0.0
    oracle_home: /u01/app/oracle/product/18/db1814-si-ee
    edition: EE
    opatch_minversion: 12.2.0.1.19
    opatch:
        # JOB PROCESSES FILL THE FILESYSTEM WITH TRACE FILES AFTER INSTALLING BUG 29541742
      - {patchid: 30352715, state: absent, excludeUPI: 24122032, stop_processes: true}
      - patchid: 32524155
        # Database Release Update 18.14.0.0.210420
        patchversion: 18.14.0.0.210420
        stop_processes: true
        state: present
        path: 18.14/dbru/32524155
      - patchid: 32552752
        # Oracle JavaVM Component Release Update (OJVM RU) 19.7.0.0.200414
        stop_processes: true
        state: present
        path: 18.14/ojvm/p32552752_180000_Linux-x86-64.zip
        # JOB PROCESSES FILL THE FILESYSTEM WITH TRACE FILES AFTER INSTALLING BUG 29541742
      - {patchid: 30352715, state: present, stop_processes: true, path: 18.14/p30352715_1814000DBRU_Linux-x86-64.zip}

  db1813-si-ee: &db1813-si-ee
    home: db1813-si-ee
    version: 18.3.0.0
    oracle_home: /u01/app/oracle/product/18/db1813-si-ee
    edition: EE
    opatch_minversion: 12.2.0.1.19
    opatch:
      - patchid: 32204699
        patchversion: 18.13.0.0.210119
        stop_processes: true
        state: present
        path: 18.13/dbru/32204699
      - patchid: 30352715
        # Oracle JavaVM Component Release Update (OJVM RU) 19.7.0.0.200414
        patchversion: 18.13.0.0.210119
        stop_processes: true
        state: present
        path: 18.13/p30352715_1813000DBRU_Linux-x86-64.zip
        # JOB PROCESSES FILL THE FILESYSTEM WITH TRACE FILES AFTER INSTALLING BUG 29541742
      - {patchid: 30352715, state: present, stop_processes: true, path: 18.13/p30352715_1813000DBRU_Linux-x86-64.zip}

  db12201-si-ee:
    home: db12201-si-ee
    version: 12.2.0.1
    oracle_home: /u01/app/oracle/product/12.2.0.1/db12201-si-ee
    edition: EE
    dnfs: true
    opatch_minversion: 12.2.0.1.13

  db12102-si-ee:
    home: db12102-si-ee
    version: 12.1.0.2
    oracle_home: /u01/app/oracle/product/12.1.0.2/db12102-si-ee
    edition: EE
    dnfs: true
    opatch_minversion: 12.2.0.1.13

  db11204-si-ee:
    home: db11204-si-ee
    version: 11.2.0.4
    oracle_home: /u01/app/oracle/product/11.2.0.4/db11204-si-ee
    edition: EE
    opatch_minversion: 11.2.0.3.20

  # Current Mapping of ORACLE_HOMEs
  # use this mapping for fast change between the Release Updates
  # <<: * => merge values from alias and overwrite oracle_home + home
  db19-si-ee:
    <<: *db1916-si-ee
    # imagename: db_home_19.16.zip
    oracle_home: /u01/app/oracle/product/19/db1
    home: db19-si-ee
  db18-si-ee:
    <<: *db1814-si-ee
    # oracle_home: /u01/app/oracle/product/18/db1
    # home: db18-si-ee

db_homes_installed:
  - home: db19-si-ee
    apply_patches: true
    state: present
